<div class="container">
  <div class="row mt-5">
    <div class="col-12">
      <div class="jumbotron bg-dark text-warning">
        <h1 class="display-1">Basic Grids</h1>
        <p class="lead">
          This is a simple hero unit, a simple jumbotron-style component for
          calling extra attention to featured content or information.
        </p>
      </div>
      <div class=" mb-5">
        <!-- <ag-grid-angular
          style="width: 500px; height: 150px;"
          class="ag-theme-balham"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
        >
        </ag-grid-angular> -->
        <ag-grid-angular
          style="width: 100; height: 250px;"
          class="ag-theme-balham"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="row  mb-5">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a [routerLink]="['/']" class="btn btn-warning">Go Back</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a [routerLink]="['/']" class="btn btn-warning">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
