<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome</h1>
</div>

<button routerLink="/blog">Blog</button>
<button routerLink="/ecommerce">Ecommerce</button>
<button routerLink="">Home</button>

<router-outlet></router-outlet>
