<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div class="container">
    <div class="row">
      <a
        class="navbar-brand"
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        ><strong>AG Grid!!</strong></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active mr-3">
            <a class="nav-link" [routerLink]="['/']"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <div class="btn-group" dropdown>
              <button
                id="button-basic"
                dropdownToggle
                type="button"
                class="btn btn-dark dropdown-toggle"
                aria-controls="dropdown-basic"
              >
                Button dropdown <span class="caret"></span>
              </button>
              <ul
                id="dropdown-basic"
                *dropdownMenu
                class="dropdown-menu bg-warning"
                role="menu"
                aria-labelledby="button-basic"
              >
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/']">?</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/']">?</a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/']">?</a>
                </li>
                <li class="divider dropdown-divider"></li>
                <li role="menuitem">
                  <a class="dropdown-item" [routerLink]="['/basic-grids']"
                    >Basic Grids</a
                  >
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
